<!DOCTYPE html>
<html>
<head>
    <title>Palmtrio LLC - Welcome</title>
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/favicons/apple-touch-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/favicons/apple-touch-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/favicons/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/favicons/apple-touch-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/favicons/apple-touch-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/favicons/apple-touch-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/favicons/apple-touch-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/favicons/apple-touch-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicons/apple-touch-icon-180x180.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicons/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicons/favicon-194x194.png")" sizes="194x194">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicons/favicon-96x96.png")" sizes="96x96">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicons/android-chrome-192x192.png")" sizes="192x192">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicons/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/favicons/manifest.json")">
    <link rel="shortcut icon" href="@Url.Content("~/favicons/favicon.ico")">
    <meta name="apple-mobile-web-app-title" content="Palmtrio">
    <meta name="application-name" content="Palmtrio">
    <meta name="msapplication-TileColor" content="#00007e">
    <meta name="msapplication-TileImage" content="@Url.Content("~/favicons/mstile-144x144.png")">
    <meta name="msapplication-config" content="@Url.Content("~/favicons/browserconfig.xml")">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="@Url.Content("~/assets/scripts/theme/ie/html5shiv.js")"></script><![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/assets/content/theme/css/main.css")" />
    <!--[if lte IE 8]><link rel="stylesheet" href="@Url.Content("~/assets/content/theme/css/ie8.css")" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="@Url.Content("~/assets/content/theme/css/ie9.css")" /><![endif]-->

    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
</head>
<body>

    <!-- Header -->
    <section id="header">
        <div class="inner">
            <span class="icon major fa-fire"></span>
            <h1>
                <strong>Palmtrio LLC</strong>
            </h1>
            <p>
                Some hookline that we repeat all the time and perhaps a snazzy montra about how we deliver top-quality applications
                and that no problem is too big or too small to call in an expert because IT is serious business.
            </p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">GET BUSY!</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row 150%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>
                            Lorem ipsum dolor adipiscing met dolor consequat
                        </h2>
                    </header>
                    <p>
                        Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.
                    </p>
                </div>
                <div class="6u$ 12u$(medium) important(medium)">
                    <span class="image fit"><img src="~/assets/images/theme/pic01.jpg" alt="" /></span>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="main style2">
        <div class="container">
            <div class="row 150%">
                <div class="12u 12u$(medium)">
                    <header class="major">
                        <h2>
                            Lorem ipsum dolor adipiscing amet dolor consequat
                        </h2>
                    </header>
                </div>
                <div class="6u 12u$(medium)">
                    <ul class="major-icons">
                        <li><span class="icon style5 major fa-pie-chart"></span></li>
                        <li><span class="icon style6 major fa-line-chart"></span></li>
                    </ul>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>
                        Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.
                    </p>
                </div>
                <div class="6u 12u$(medium)">
                    <ul class="major-icons">
                        <li><span class="icon style4 major fa-database"></span></li>
                        <li><span class="icon style3 major fa-cloud"></span></li>
                    </ul>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>
                        Blandit faucibus proin. Ac aliquam integer adipiscing enim non praesent vis commodo nunc phasellus cubilia ac risus accumsan. Accumsan blandit. Lobortis phasellus non lobortis dit varius mi varius accumsan lobortis. Blandit ante aliquam lacinia lorem lobortis semper morbi col faucibus vitae integer placerat accumsan orci eu mi odio tempus adipiscing adipiscing adipiscing curae consequat feugiat etiam dolore.
                    </p>
                </div>
                <div class="6u 12u$(medium)">
                    <ul class="major-icons">
                        <li><span class="icon style2 major fa-code"></span></li>
                        <li><span class="icon style1 major fa-code-fork"></span></li>
                    </ul>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>
                        Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Three -->
    @{
        if (ViewData["panelRequested"] == null)
        {
            Html.RenderAction("view-team");
        }
        else
        {
            string panelActionName = ViewData["panelRequested"].ToString();
            Html.RenderAction(panelActionName);
        }
    }
    <!-- Four -->
    <section id="four" class="main style2 special">
        <div class="container">
            <header class="major">
                <h2>What are you waiting for?</h2>
            </header>
            <ul class="actions vertical">
                <li><a href="javascript:void(0);" class="main-button btn-contact-view button special icon fa-fax">View Contact</a></li>
                <li id="main-btn-team-view" style="display:none;"><a href="javascript:void(0);" class="btn-team-view button">View Team</a></li>
            </ul>
            <p>
                <strong>Palmtrio LLC</strong><br/>
                Some hookline that we repeat all the time and perhaps a snazzy montra about how we deliver top-quality applications
                and that no problem is too big or too small to call in an expert because IT is serious business.
            </p>
        </div>
    </section>
    <!-- Footer -->
    <section id="footer">
        @*<ul class="icons">
            <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon alt fa-skype"><span class="label">Skype</span></a></li>
            <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>*@
        <p style="font-size:0.8em; line-height:0.9em; text-align:left;">
            All internet traffic between you and Palmtrio LLC is protected with encryption that either meets or exceeds credit card industry standards. In using Palmtrio LLC's website and/or online services, you acknowledge, accept, and agree to the following terms and conditions: Palmtrio LLC is not bound or obligated to provide access to its website or online services; if you are dissatisfied with Palmtrio LLC for any reason, then your sole recourse is to discontinue and terminate your use of Palmtrio LLC's website and Palmtrio LLC's online services.
        </p>
        <ul class="icons">
            <li><img style="cursor:pointer" src="@Url.Content("~/assets/images/theme/authnet_secure.png")" onclick="viewContact_verifyAuthorizeNetSeal();" /></li>
            <li><img style="cursor:pointer" src="@Url.Content("~/assets/images/theme/gd_siteseal.gif")" onclick="viewContact_verifyGoDaddySeal();" /></li>
            <li><img style="cursor:pointer" src="@Url.Content("~/assets/images/theme/mcafee_secure.png")" onclick="viewContact_verifyMcAfeeCertified();" /></li>
        </ul>
        <ul style="font-size:4pt;" class="copyright">
            <li><a href="https://www.Palmtrio.com">Copyright &copy; 2016 Palmtrio LLC. All Rights Reserved.</a></li>
            <li><a href="http://html5up.net">Photon by HTML5 UP | @@n33co</a></li>
        </ul>
    </section>
    <!-- Scripts -->

@{
    if (ViewData["panelRequested"] != null)
    {
        <script>
            $('html, body').animate({
                scrollTop: $("#four").offset().top
            }, 0);

            $('html, body').animate({
                scrollTop: $("#three").offset().top
            }, 400);
        </script>
    }
}

    <script src="@Url.Content("~/assets/scripts/theme/jquery.scrolly.min.js")"></script>
    <script src="@Url.Content("~/assets/scripts/theme/skel.min.js")"></script>
    <script src="@Url.Content("~/assets/scripts/theme/util.js")"></script>
    <!--[if lte IE 8]><script src="@Url.Content("~/assets/scripts/theme/ie/respond.min.js")")"></script><![endif]-->
    <script src="@Url.Content("~/assets/scripts/theme/main.js")"></script>

    @{Html.RenderPartial("~/Views/Shared/Scripts/AjaxRoutesPartial.cshtml");}
    <script src="@Url.Content("~/Scripts/landing.js")"></script>
</body>
</html>
